{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Register</h1>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}

        <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }}

    <style>
        form {
            margin: 0 auto;
            max-width: 330px;
            padding: 15px;
        }
        input {
            margin-bottom: 10px;
        }
    </style>
{% endblock %}
